{
  "extends": [
    "airbnb-typescript/base"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "**/tsconfig.json",
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "svelte"
  ],
  "overrides": [
    {
      "files": [
        "*.svelte"
      ],
      "processor": "svelte/svelte"
    }
  ],
  "rules": {
    "no-console": 0,
    "@typescript-eslint/naming-convention": 0,
    "@typescript-eslint/no-redeclare": 0,
    "@typescript-eslint/no-shadow": 0,
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": "error"
  },
  "settings": {},
  "ignorePatterns": ["dist"]
}