{
  "extends": [
    "airbnb-typescript/base",
    "plugin:svelte/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "**/tsconfig.json",
    "sourceType": "module",
    "extraFileExtensions": [
      ".svelte"
    ]
  },
  "plugins": [
    "import"
  ],
  "overrides": [
    {
      "files": [
        "*.svelte"
      ],
      "parser": "svelte-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser"
      }
    }
  ],
  "rules": {
    "no-console": 0,
    "@typescript-eslint/naming-convention": 0,
    "@typescript-eslint/no-redeclare": 0,
    "@typescript-eslint/no-shadow": 0,
    "no-trailing-spaces": "error",
    "no-multiple-empty-lines": "error",
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "svelte/no-at-html-tags": 0
  },
  "settings": {}
}